root = true

[*.{kt,kts}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# Désactiver la règle de naming pour les fonctions
# Permet aux Composables d'être en PascalCase
ktlint_standard_function-naming = disabled
ktlint_function-naming = disabled